h1, h2, h3 {
    font-weight: bold;
    margin-top: 5px;
}

:root {
    --text_size: clamp(0.9rem, 0.4265rem + 0.7059vw, 1rem);
}

h1 {
    font-size: clamp(1rem, 0.7353rem + 0.9412vw, 1.5rem);
}

h2 {
    font-size: clamp(0.875rem, 0.6765rem + 0.7059vw, 1.25rem);
}

h3 {
    font-size: clamp(0.75rem, 0.6176rem + 0.4706vw, 1rem);
}

p,
a,
span,
button,
input,
select,
label,
table,
li,
textarea {
    font-size: var(--text_size);
    font-weight: 500;
}


ul, ol {
    margin-left: 25px;
}

figure {
    float: right;
    max-width: 30%;
    max-height: 100%;
    margin-left: 10px;
    
    figcaption {
        width:fit-content;

    }
    
    img {    
        border-radius: 20px;
    }

}


@media screen and (max-width: 990px) { 
    figure {
        float: unset;
        max-width: 100%;
        max-height: 100%;
    
        margin-block: 10px;
        margin-left: 0px;
        
        img {
            border-radius: 20px;
        }
        
    }
}