.navigation {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100dvh;
    padding: 20px;

    ul {
        margin: 0;
        
        li {
            margin-bottom: 10px;
            list-style-type: none;
        }
    }
}