:root {
  --background-color: #2F4F4F;
  --surface-color: #293F3F;
  --text-color: #DCDCDC;
  --secondary-text-color: #000000;

  --primary-color: #AFDBF5;
  --secondary-color: #A1E5AB;
  --ternary-color: #AE5656;
}


body, html {
  min-height: 100vh;
  width: 100%;

  margin: 0;
}

.main {
  display: flex;
  gap: 10px;
}

