/* * {
    color: #2f6969
} */


#cookieBanner,
.markdown {
    a {
        text-decoration: underline !important;

        &:hover {
            text-decoration: none !important;
        }
    }
}


#phenomena {
    a {
        text-decoration: underline !important;
        color: #4f8b8b;

        &:hover {
            text-decoration: none !important;
        }
    }
}


p,
a,
span,
button,
input,
select,
label,
table,
li,
textarea {
    font-size: var(--text_size);
    font-weight: 500;
}